body,ul,p{
    margin: 0px;
    padding: 0px;
    list-style: none; /* tira a marcação do link (bolinha por exemplo) */
    font-size: 1.2rem;
    font-family: Arial;
}

/* Define o tamanho da imagem do logo - largura */
.logo{
    width: 200px;
}

/* Degine as caracteristicas da TAG */
a{
    text-decoration: none;  /* tira o sublinhado do link */
    color: black;  /* cor do texto*/
}

/*Define as caracteristicas do header */
.header{
    /* Cor de fundo */
    background-color: rgb(255, 0, 0);
    /*display flexivel */
    display: flex;
    /*organizado em linhas */
    flex-wrap: wrap;
    /*espacamento entre os textos */
    justify-content: space-between;
    /*centralizado */
    align-items: center;
    /*margem interna */
    padding: 20px;

}

.menu{
    display: flex;
}

/* distancia entre as palavras do link */
.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    background-color: rgb(255, 0, 0);

}

/*Fazendo o corpo do site*/

.flex{
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;

}
/*ajustando o tamanho da imagem */
.imagem{
    width: 300px;
    height: auto;
}

/* ajustando os itens da oagina */

.item{
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-start;
    border: 2px solid black;
    margin: 10px;
}

.paragrafo{
    padding: 10px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

/*ajustando o cabeçalho */

.footer{
    background-color: white;
    padding: 15px;
    color: black;
    font-size: 30px;
}

.redesSociais{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redeLogo{
    margin: 10px;
    padding: 5px;
    width: 30px;
    height: auto;
}