body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none; /* tira a marcação do link (bolinha por exemplo) */
    font-size: 1.2rem;
    font-family: Arial;
}

/* Define o tamanho da imagem do logo - largura */
.logo{
    width: 200px;

}

/* Define as caracteristicas da TAG ancor */
a{
    text-decoration: none;   /* tira o sublinhado do link */
    color: white;          /* Cor do texto */
}

/* Define as caracteristicas do header */

.header{     
    /* Cor de fundo */
    background-color: black;
    /* display flexivel */
    display: flex;
    /* Organizando em linha */
    justify-content: space-between;
    /* centralizando */
    align-items: center;
    /* "margem interna */
    padding: 20px;
}

.menu{
    display: flex;
}

/* distancia entre as palavras do link */
.menu li{
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    /* background-color: #5e17eb; */
}

/* ********************* FAZENDO O CORPO DO SITE ********************** */

.flex{
    min-height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;

}
/* Ajustando o tamanho da imagem */
.imagem{
    width: 400px;
    height: auto;
}

/* Ajustando os itens da pagina /*

.item{
    display: flex;
    /* justify-content: flex-end; */
    /*center, flex-end* - podem ser usados*/
    aling-items; flex-start;
    border: 2px solid black;
    margin: 10 px;
{} 

.paragrafo{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    text-align: justify;
}

/* Define o tamanho da imagem do logo - largura */
.logo{
    width: 200px;  
    
}
a{
    text-decoration: none;
    color: white;
}
.header{
/* Cor de fundo */
    background-color: rgb(4, 187, 211) ;
/*cor da letra*/
    color: rgb(80, 79, 79);
/* display flexivel */
    display: flex ;
/* Espaçamento entre os textos */
    justify-content: space-between;
/* margem interna */
    padding: 10px;
/*linha do link*/
    list-style: none;
}

.div-imagen01{
    display: flex;
    justify-content: end;
    padding: 60px 100px 0 0;
}
.imagem{
   width: 50%;
}
.item{
    width: 2500px
}
.flex{
    background-image: linear-gradient(black,rgb(80, 79, 79));
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 60% 100px;   
}
